[type="checkbox"]:checked,
[type="checkbox"]:not(:checked)
{
    position: absolute;
    left: -9999px;
}
[type="checkbox"]:checked + label,
[type="checkbox"]:not(:checked) + label
{
    position: relative;
    padding-left: 28px;
    cursor: pointer;
    line-height: 20px;
    display: inline-block;
    color: #666;
}
[type="checkbox"]:checked + label:before,
[type="checkbox"]:not(:checked) + label:before
{
    content: '';
    position: absolute;
    left: 0;
    top: 0;
    width: 18px;
    height: 18px;
    border: 1px solid #ddd;
    background: #fff;
    border-radius: 50%;
}
[type="checkbox"]:checked + label:after,
[type="checkbox"]:not(:checked) + label:after
{
    content: '';
    width: 8px;
    height: 8px;
    background: #390b11;
    position: absolute;
    top: 5px;
    left: 5px;
    border-radius: 50%;
    -webkit-transition: all 0.2s ease;
    -moz-transition: all 0.2s ease;
    -o-transition: all 0.2s ease;
    transition: all 0.2s ease;
}
[type="checkbox"]:not(:checked) + label:after
{
    opacity: 0;
    -webkit-transform: scale(0);
    -moz-transform: scale(0);
    -o-transform: scale(0);
    -ms-transform: scale(0);
    transform: scale(0);
}
[type="checkbox"]:checked + label:after
{
    opacity: 1;
    -webkit-transform: scale(1);
    -moz-transform: scale(1);
    -o-transform: scale(1);
    -ms-transform: scale(1);
    transform: scale(1);
}
[type="checkbox"]:disabled:checked + label:before,
[type="checkbox"]:disabled:not(:checked) + label:before
{
    border-color: #ccc;
    background-color: #eee;
}
[type="checkbox"]:disabled:checked + label:after
{
    background: #aaa;
}