/* OpenStreetMap */

#mapid .leaflet-tile-pane {
  -webkit-filter: grayscale(100%);
  filter: grayscale(100%);
}

#mapid .leaflet-control-zoom a {
  color: #ebebeb;
  background-color: #390b11;
}

#mapid .leaflet-bar {
  border: 2px solid transparent;
}

/* END: OpenStreetMap */

.map {
  flex: 0 0 100%;
  position: relative;
}

.map #mapid {
  height: 100%;
  width: 100%;
  z-index: 0;
}

.map .contact-information {
  position: absolute;
  top: 0;
  right: 0;
  width: 25%;
  height: 100%;
  list-style: none;
  display: flex;
  justify-content: center;
  flex-direction: column;
  color: #404042;
}

.map .contact-information ul {
  padding: .5em .5em;
}

.map .contact-information .title {
  padding-bottom: .25em;
  color: #ebebeb;
  background-color: #404042;
  text-align: center;
  font-size: 24px;
  padding: 1em 0;
  font-weight: bold;
  border-top-left-radius: 24px;
}

.map .contact-information .fa {
  pointer-events: none;
  width: 24px;
  height: 24px;
  line-height: 24px;
  color: #404042;
  border: 1px solid #404042;
  margin-right: .25em;
  border-radius: 2px;
}

.map .contact-information .subtitle {
  text-align: center;
  font-size: 18px;
  padding-bottom: .25em;
  margin: .5em 0 0 0;
  color: #404042;
  font-weight: bold;
}

.map .contact-information ul {
  list-style: none;
  background-color: #fff;
  border-bottom-left-radius: 24px;
}

.map .contact-information ul p {
  font-size: 80%;
}

.map .contact-information .subtitle+ul>li {
  font-size: 80%;
}

.map .whereabouts {
  position: absolute;
  top: 5em;
  left: 0;
  margin: 1em;
  list-style: none;
  font-size: 80%;
}

.map .whereabouts>li {
  padding: 1em;
  cursor: pointer;
  position: relative;
  z-index: 0;
}

.map .whereabouts>li:not(.active)::after {
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  position: absolute;
  z-index: -1;
  opacity: .5;
  content: "";
  color: #404042;
  background-color: #ffffff;
}

.map .whereabouts>li.active {
  background-color: #390b11;
  color: #ffffff;
}